.allocation {
  padding: 0 32px 30px;

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &-table {
    .el-scrollbar__view, .el-table__body {
      width: 100% !important;
    }
  }

  &-body {
    .allocation-search {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: auto;
      background: #f5f5f5;
      padding: 16px;

      &-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;

        .allocation-search-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .search-label {
            margin-right: 8px;
            display: flex;
            align-items: center;
          }

          .el-select {
            min-width: 150px;
          }

          &:not(:first-child) {
            margin-left: 16px;
          }

          .el-input {
            .el-input__wrapper {
              .el-input__inner {
                height: 32px !important;
              }
            }
          }
        }
      }
    }

    .allocation-payment-table {
      overflow: auto;
      margin-top: 16px;

      .el-checkbox__inner::after {
        height: 7px !important;
        left: 4px !important;
        top: 1px !important;
        width: 3px !important;
      }

      thead {
        border-top: 1px solid #cfcbbd;
        border-bottom: 1px solid #cfcbbd;
        tr {
          background: #f5f5f5 !important;

          th {
            background-color: #f5f5f5 !important;
          }
        }
      }

      tbody {
        .el-table__row {
          .el-table__cell {
            padding: 2px 0 !important;
          }
        }
      }

      .status {
        border-radius: 100px;
        color: #fff;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 8px;
      }

      .exrate-input {
        .el-input__inner {
          text-align: right !important;
        }
      }

      .exrate-label{
        margin-right: 10px;
      }
    }

    .allocation-payment-menu {
      margin-top: 16px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .btn {
    &.approve {
      background: #5a6acf;
    }

    &.reject {
      background: #ec5252;
    }
  }
}

.modal-allocation {
  
}
