.bidding {
  padding: 0 20px 0;
  height: 100%;
  @media (min-width:1025px) {
    padding: 0 32px 0;
  }

  
  &-body-table {
    .el-table {
      z-index: 1;
    }
    .el-table thead.is-group th.el-table__cell {
      color: #000;
      border-color: #b9b9b980;
      background: #f0f0f0;
    }
  
    .el-table--border .el-table__inner-wrapper::after,
    .el-table--border::after,
    .el-table--border::before,
    .el-table__inner-wrapper::before,
    .el-table--border::before {
      background: #b9b9b980 !important;
    }
  
    .el-table--enable-row-transition .el-table__body td.el-table__cell {
      border-right: none;
    }
  
    .el-table--border::before {
      width: 1px;
    }
  
    .el-table .el-table__cell {
      border-color: #b9b9b980 !important;
    }
  }

  p {
    margin: 0;
  }
  @media (max-width: 1024px) {
    padding: 15px 20px 0;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
      display: block;
    }

    .btn {
      width: 123px;
      height: 37px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      margin-left: 8px !important;
      transition: .3s all;
      color: #fff;
      &-back {
        cursor: pointer;
        img {
          margin-right: 12px;
        }
      }

      @media (max-width:1024px) {
        width: auto;
        height: 27px;
      }

      @media (max-width:575px) {
        margin: 0 0 10px !important;
      }

      &:hover, &:focus {
        transition: .3s all;
        opacity: .8;
      }

      &:first-child {
        margin-left: 0 !important;
      }

      &-save {
        background: #5A6ACF;
        border: 1px solid #3C4EC0;
        &:hover, &:focus {
          background: #5A6ACF;
          border: 1px solid #3C4EC0;
        }
      }
    }
  }

  &-body {
    margin-top: 17px;
    &-search {
      padding: 16px;
      display: flex;
      align-items: end;
      background: #f7f7f7;
    }

    &-box {
      display: flex;
      align-items: end;
      width: 100%;
      @media (max-width: 500px) {
        display: block;
      }
      .el-select {
        margin-bottom: 0;
        height: 31px;
        .el-input.el-input--suffix {
          height: 31px;
        }
        .el-input__wrapper {
          background:  #f6f6fb;
          border: #ced4da;
        }
        .el-input__inner {
          height: 28px !important;
          background: #f6f6fb;
          border: #ced4da;
        }
      }
      .el-input__suffix .el-input__suffix-inner::after {
        top: 12px;
      }
      .el-form-item {
        margin-bottom: 0;
        .el-input__wrapper {
          height: 31px;
          background: #f6f6fb;
          border: #ced4da;
        }
      }

      .item {
        margin-left: 8px;
        @media (max-width: 500px) {
          margin-left: 0px;
        }
        &:nth-child(1) {
          margin-left: 0;
          width: calc(100% - 532px);
          flex: 0 0 auto;
          @media (max-width: 500px) {
            width: 100%;
          }
        }
        .btn {
          &-bidding {
            text-align: end;
          }
          &-search {
            border: 1px solid #B4BDF5;
            background: #D4D9FB; 
            color: #5A6ACF;
            font-size: 14px;
            font-weight: 700;
            @media (max-width: 500px) {
              margin-top: 8px;
            }
          }
        }
      }
    }
  }

  &-accordion {
    .lead-btn-box {
      justify-content: start !important;
    }

    .modify-btn-box {
      justify-content: center !important;
      width: 100%;
    }

    &--custom {
      display: block;
      @media (min-width: 1025px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .el-select {
        height: auto !important;
        border: 1px solid #ced4da;
        border-radius: 4px;
      }
      .el-select__tags .el-tag {
        border-color: #ced4da;
      }
    }
    .item {
      flex: 0 0 auto;
      @media (min-width: 1024px) {
        width: calc((100% / 2) - 30px);
      }

      &-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 16px;
      }

      .block, .input-item {
        display: flex;
        align-items: center;
      }

      .block {
        margin-bottom: 8px;
      }

      .input-item  {
        justify-content: space-between;
        .el-input {
          width: calc(100% - 40px);
          flex: 0 0 auto;
        }
      }

      &__title {
        flex: 0 0 auto;
        width: 220px;
      }
    }
  }

  &-create {
    padding-bottom: 30px !important;
      .lead-btn-box {
        @media (max-width: 1025px) {
        justify-content: end !important;
      }
    }
    .form-search-box {
      max-height: 100% !important;
    }
    .lead-import {
      .lead-btn-box {
        display: block;
      }
    }
  }
}

@media (max-width: 1025px) {
  .bidding-import-box {
    justify-content: end !important;
    margin-top: 6px !important;
  }

  .bidding-body-box .item .btn-bidding {
    margin: 20px 0 0;
    .btn  {
      margin: 0 !important;
    }
  } 
}
