.change-request {
  padding: 0 32px 0;
  height: 100%;

  &-detail {
    height: 100%;
  }
  @media (max-width: 1024px) {
    padding: 15px 20px 0;
  }

  .el-input {
    height: 37px !important;
  }

  .el-date-editor .el-input__wrapper {
    height: 37px !important;
  }

  &-table-box {
    margin-bottom: 8px;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-body {
    margin-top: 17px;
    position: relative;
    .change-request {
      &-search {
        padding: 12px 16px 15px;
        display: flex;
        align-items: end;
        background: #f7f7f7;
        justify-content: space-between;

        @media (max-width: 1024px) {
          flex-wrap: wrap;
          transition: 0.5s all;
          position: relative;
        }

        @media (max-width: 767px) {
          justify-content: space-between;
        }

        .item {
          flex: 0 0 auto;
          width: calc(100% / 3);
          .name {
            font-size: 16px;
            margin-right:16px;
          }

          .detail {
            display: flex;
            flex-direction: row;

            .data {
              display: flex;
              flex-direction: column;
              align-items: end;
            }
          }
        }
      }
    }
  }

  .change-request-table {
    margin-top: 16px;
    max-height: calc(74vh - 70px);
    @media (max-width: 767px) {
      max-height: unset;
    }
    overflow-y: auto;
    .el-checkbox__inner::after {
      left: 4px !important;
      top: -2px !important;
    }

    .company_name {
      color: #3b5a9a;
      font-weight: 500;
      display: block;
      word-break: break-word;
    }

    .el-table thead {
      background: #b9b9b980;
      color: #000;
    }
  }

  &-create {
    margin-top: -10px;
    .input-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      .el-input {
        flex: 0 0 auto;
        width: calc(100% - 42px);
      }
    }
  }

  .modal-cr {
    .modal-container {
      max-width: 1000px !important;
      width: 70%;

      .modal-header {
        padding: 8px 16px;
        h3 {
          margin: 0;
        }
      }

      .modal-body {
        .lead-import {
          margin: 0 !important;
          padding: 0 !important;

          p {
            margin-top: 0 !important;
            padding: 0 !important;
          }
        }
      }
    }

    .el-form-item__label {
      display: block;
      color: #212529;
      &:before {
        display: none;
      }
    }
  }

  .el-form-item.is-required .el-form-item__label:after {
    content: "*";
    color: var(--color-5, #ec5252);
  }
}

.change-request-list{
  .el-table__body-wrapper{
    .el-table__row{
      .el-table__cell{
        &:nth-child(1){
         text-align: right !important;
        }
      }
    }

    .bg-yellow-table{
      background-color: #FBF7EB !important;
    }
  }
}

.change-request-tbl thead tr,
.change-request-tbl thead tr th {
  background-color: #f0f0f0 !important;
  color: #000;
  border-top: 1px solid #b9b9b980;
  border-bottom: 1px solid #b9b9b980;
}

.btn {
  width: 123px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 8px !important;
  transition: 0.3s all;
  color: #fff;
  border-radius: 4px;
  &-back {
    cursor: pointer;
    img {
      margin-right: 12px;
    }
  }

  &-approve {
    border: 1px solid #3c4ec0;
    background: #3c4ec0;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    width: 80px;
  }

  &-reject {
    border: 1px solid #b72a2a;
    background: #ec5252;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    width: 80px;
  }

  @media (max-width: 1024px) {
    width: auto;
    height: 27px;
  }

  @media (max-width: 575px) {
    margin: 0 0 10px !important;
    width: 49%;
  }

  &:hover,
  &:focus {
    transition: 0.3s all;
    opacity: 0.8;
  }

  &:first-child {
    margin-left: 0 !important;
  }

  &-save {
    background: #5a6acf;
    border: 1px solid #3c4ec0;
    &:hover,
    &:focus {
      background: #5a6acf;
      border: 1px solid #3c4ec0;
    }
  }
}

.change-request-btn__row {
  text-align: center;
  justify-content: center;
}

.loadmore {
  &_change-request {
    .loadmore__txt {
      padding: 0;
      margin: 10px 0 0;
    }
  }
}

@media (max-width: 1025px) {
  .change-request-search-box {
    margin-bottom: 16px;
    padding: 0 !important;
    width: 100%;
  }

  .change-request-body {
    .form-search-box {
      display: block !important;
      .item {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .change-request-import-box,
  .change-request-btn-box {
    .mb-4 {
      justify-content: space-between !important;
    }
  }
}

.change-request-btn-box--custom {
  text-align: center;
  margin-top: 26px;
  padding-bottom: 20px;
  .btn-add-memo {
    background: #e8eafb;
    border: 1px solid #3b5a9a;
    &:hover,
    &:focus {
      background: #e8eafb;
      border: 1px solid #3b5a9a;
    }
  }
}

@media (min-width: 1025px) {
  .change-request-header {
    position: sticky;
    top: 0px;
    z-index: 8;
    background: #fff;
    height: 50px;
  }
}
