.lead {
  padding: 0 32px 0;
  height: 100%;
  &-create {
    .lead-btn-box {
      @media (max-width: 575px) {
      justify-content: flex-end;
      .el-row  {
        width: 100%;
      }
      }
    }
  }
  @media (max-width: 1024px) {
    padding: 15px 20px 0;
  }

  .loadmore_lead-btn {
    margin-top: 10px;
  }

    .el-input {
      height: 37px !important;
    }

    .el-date-editor .el-input__wrapper {
      height: 37px !important;
    }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
      display: block;
    }

    .btn {
      width: 123px;
      height: 37px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      margin-left: 8px !important;
      transition: .3s all;
      color: #fff;
      &-back {
        cursor: pointer;
        img {
          margin-right: 12px;
        }
      }

      @media (max-width:1024px) {
        width: auto;
        height: 27px;
      }

      @media (max-width:575px) {
        margin: 0 0 10px !important;
        width: 49%;
      }

      &:hover, &:focus {
        transition: .3s all;
        opacity: .8;
      }

      &:first-child {
        margin-left: 0 !important;
      }

      &-cancel {
        background: #fbf5Ee;
        border: 1px solid #ecd89c;
        color: #b79315;
        &:hover, &:focus {
          background: #fbf5Ee;
          border: 1px solid #ecd89c;
          color: #b79315;
        }
      }

      &-save {
        background: #5A6ACF;
        border: 1px solid #3C4EC0;
        &:hover, &:focus {
          background: #5A6ACF;
          border: 1px solid #3C4EC0;
        }
      }

      &-edit__lead {
        border: 1px solid #382665;
        background:#4E3A7F;
      }
      &-nda {
        border: 1px solid #5C3582;
        background: #764C9E;
        &:hover, &:focus {
          border: 1px solid #5C3582;
          background: #764C9E;
        }
      }
      &-group {
        border: 1px solid #B72A2A;
        background: #EC5252;
        &:hover,&:focus {
          border: 1px solid #B72A2A;
          background: #EC5252;
        }
      }
    }
  }

  &-body {
    margin-top: 17px;
    position: relative;

    .ruleform {
      .el-form-item {
        margin-bottom: 0 !important;
      }

      .el-input-group__append {
        padding: 0 !important;
      }

      .btn-setting {
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    .form-search {
      position: absolute;
      top: 100%; 
      left: 0;
      z-index: 4;
      width: 100%;
      background: #fff;
      transition: .3s all;
      visibility: hidden;
      opacity: 0;
      &.active {
        top: 110%;
        transition: .3s all;
        visibility: visible;
        opacity: 1;
      }
    }

    .form-search-box {
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 2px 10px 0px #0000001A;
      border: 1px solid #f6f6fb;
      padding: 14px 24px;
      background: #fff;
      @media  (max-width: 575px){
        max-height: 400px;
        overflow: auto;
      }
      .el-select .el-select__tags>span {
        line-height: 27px;
      }

      .el-tag.is-closable {
        border: 1px solid #ced4da;
        align-items: center;
      }
      .el-input__wrapper {
        background: #F6F6FB;
      }

      .el-input__inner, .el-select {
        height: 37px !important;
        line-height: 37px !important;
      }

      .el-select, .el-form-item__content {
        height: 37px !important;
      }

      .datepicker_custom {
        .el-form-item__content {
          justify-content: space-between;
          align-items: center;
          .el-input__inner {
            padding: 1px 11px;
          }
        }
      }

      .el-form-item {
        margin-bottom: 16px;
      }

      .el-form-item__label {
        margin-bottom: 4px;
        height: 24px;
        color: #212529;
      }

      .item {
        width: calc(100% / 3 - 16px);
      }

      .el-form-item {
        display: block !important;
        .el-form-item__label {
          &::before {
            display: none;
          }
        }
      }
    }

    &--create {
      .el-date-editor.el-input, .el-date-editor.el-input__wrapper {
        width: 100% !important;
        .el-input__inner {
          padding: 0 11px;
        }
      }

      .form-search-box {
        box-shadow: unset;
        border: none;
        padding: 14px 0;
        background: #fff;
        .item {
          width: calc(100% / 2 - 13px);
        }
      }
    }
    .form-modal-status {
      .el-form-item {
        display:  block !important;
      }
    }

    .btn-search-select {
      padding: 0;

      .btn {
        width: calc(100% / 3 - 8px);
        font-weight: 700;
        &-search , &-data, &-clear {
          background:#d4d9fb;
          color: #5a6acf;
          border-color: #b4bdf5;
          font-size: 14px;
          height: 37px !important;
          &:hover, &:focus {
            opacity: .7;
          }
        }
        &-data {
          overflow: hidden;
        }
        &-clear {
          background: #e8eafb;
          border-color:#a6abc8;
          color: #3b5a9a;
        }
      }
    }

    .lead {
      &-search {
        padding: 14px 11px;
        display: flex;
        &-box {
          padding-left: 0;
        }

        @media (max-width: 1024px) {
          flex-wrap: wrap;
          transition: .5s all;
          position: relative;
        }

        @media (max-width: 767px) {
          justify-content: space-between;
        }

        align-items: end;
        background: #f7f7f7;

      &__ttl {
        margin: 0 0 4px;
        font-size: 16px;
        color:#212529;
        font-weight: 400;
      }

      &-item {
        margin-right: 8px;
          @media (max-width: 767px) {
            margin-right: 0;
          }
        }
      }
    }
  }

  .lead-table {
    margin-top: 16px;
    overflow-y: auto;
    .el-checkbox__inner::after {
      left: 4px !important;
      top: -2px !important;
    }

    .company_name {
      color: #3b5a9a;
      font-weight: 500;
      display: block;
      word-break: break-word;
    }

    .el-table thead {
      background: #b9b9b980;
      color: #000;
    }
  }
}

.btn-search {
  background: #d4d9fb;
  color: #5A6ACF ;
  border: 1px solid #b4bdf5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  cursor: pointer;
  &--mobie {
    @media (min-width: 1025px) {
      display: none !important;
    }
  }

  &:hover , &:focus, &:active {
    background: #D4D9FB;
    color: #5A6ACF ;
    border: 1px solid #b4bdf5;
    opacity: .8;
  }
}

.loadmore {
  padding-bottom: 10px;
  &__txt {
    color: #707FDD;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 19px 0 21px;
  }
}

.el-tbl-custom thead tr,
.el-tbl-custom thead tr th {
background-color: #f0f0f0 !important;
border-top: 1px solid #B9B9B980;
border-bottom: 1px solid #B9B9B980
}

.btn {
  &-edit {
    margin-right: 16px;
  }

  &-edit, &-delete {
    background: unset;
    border: none;
    outline: 0;
    cursor: pointer;
    padding: 0;
  }

  &-tag , &-account, &-status, &-delete-lead {
    border: 1px solid #705FA5;
    background: #8171B2;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
  }
}

.modal-header {
  text-align: center;
  img {
    width: 80px;
    height: 80px;
  }
}

.el-row mb-4 lead-btn__row {
  overflow: hidden;
}

.lead-btn__row {
  justify-content: center;
  flex-wrap: nowrap !important;
  overflow: auto ;
}

.loadmore {
  &_lead {
    .loadmore__txt {
      padding: 0;
      margin: 10px 0 0;
    }
  }
}

.lead-btn__row {
  .btn {
    &-business, &-tag, &-account, &-status, &-delete-lead {
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      padding: 8px 20px;
    }

    &-tag {
      border: 1px solid #785199;
      background: #8E69AE;
      &:hover, &:focus {
        border: 1px solid #785199;
        background: #8E69AE;
      }
    }

    &-business {
      border: 1px solid #705FA5;
      background: #8171B2;
      position: relative;
      &:hover, &:focus {
        border: 1px solid #785199;
        background: #8E69AE;
      }

      &.active {
        color: #0c0c0c6e;
        background-color: #b9b9b9;
        border: 1px solid #b9b9b9;
        transition: .3s all;
        &.is-disabled {
          &:hover {
            color: #0c0c0c6e;
            background-color: #b9b9b9;
            border: 1px solid #b9b9b9;
          }
        }
        &[data-c-tooltip] {
          &:after {
            z-index: 10;
            padding: 8px;
            width: 100%;
            background-color: rgba(51, 51, 51, 0.9);
            color: #fff;
            content: attr(data-c-tooltip);
            font-size: 14px;
            line-height: 1.2;
            position: absolute;
            top: -39px;
            visibility: hidden;
            opacity: 0;
          }

          &:before {
            z-index: 10;
            border: 6px solid transparent;
            background: transparent;
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border-top-color: rgba(51, 51, 51, 0.9);
            bottom: 25px;
            visibility: hidden;
            opacity: 0;
          }

          &:hover {
            &::after, &::before {
              transition: .3s all;
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }

    &-account {
      border: 1px solid #5C3582;
      background: #5C3582;
      &:hover, &:focus {
        border: 1px solid #785199;
        background: #8E69AE;
      }
    }

    &-status {
      border: 1px solid #3C4EC0;
      background: #3C4EC0;
      &:hover, &:focus {
        border: 1px solid #785199;
        background: #8E69AE;
      }
    }

    &-delete-lead {
      border: 1px solid #B72A2A;
      background: #EC5252;
      &:hover, &:focus {
        border: 1px solid #785199;
        background: #8E69AE;
      }
    }
  }
}

.el-dialog-status {
  .el-form-item {
    margin-bottom: 0;
  }
  .header-modal {
    justify-content: space-between;
    padding: 18px 16px;
    border-bottom: 1px solid #dee2e6;
  }
  .modal-body {
    padding: 16px 10px 16px 16px;
    p {
      text-align: left;
      margin: 0 0 2px;
      font-size: 16px;
    }
  }

  .footer-modal {
    padding: 12px 0;
    border-top: 1px solid #dee2e6;
  }

  .el-input {
    height: 38px !important;
  }

  .el-select__tags .el-tag {
    margin-top: 7px !important;
  }
}

@media (max-width: 1025px) {
  .lead-search-box {
    margin-bottom: 16px;
    padding: 0 !important;
    width: 100%;
  }

  .el-dialog-edit {
    width: 50% !important;
  }

  .lead .el-input {
    width: 100% !important;
  }

  .btn-search-select {
    width: 100%;
  }

  .datepicker_custom {
    height: 120px;
  }

  .lead-body {
    .form-search-box  {
      display: block !important;
      .item {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .lead-import-box {
    .mb-4 {
      justify-content: space-between;
    }
  }
}

.lead-btn-box--custom {
  text-align: center;
  margin-top: 26px;
  padding-bottom: 20px;
  .btn-add-memo {
    background: #E8EAFB;
    border: 1px solid #3B5A9A;
    &:hover,&:focus {
      background: #E8EAFB;
      border: 1px solid #3B5A9A;
    }
  }
}

.header-modal--custom {
  justify-content: space-between;
  border-bottom: 1px solid #DEE2E6;
  padding: 16px;
  .header-modal__ttl {
    color:#212529;
    font-weight: 700;
    font-size: 18px;
  }
}

.footer-modal--custom {
  padding: 12px 0;
  border-top: 1px solid #DEE2E6;
  .btn {
    padding: 8px 45px;
    height: 37px;
    &-cancel {
      background: #e8eafb;
      color: #3b5a9a;
      border: 1px solid #3b5a9a;
    }
  }
}

.modal-custom {
  padding: 10px 16px 16px 16px;
  .el-form-item {
    text-align: left !important;
    display: block !important;
  }

  .el-form-item__label {
    display: block;
    color: #212529;
    &:before {
      display: none;
    }
  }
}

@media (min-width: 1025px) {
  .lead-header {
    position: sticky;
    top: -2px;
    z-index: 8;
    background: #fff;
    height: 36px;
  }
}

@media (max-width: 500px) {
  .lead-import-box {
    .mb-4 {
      justify-content: space-between;
    }
  }
}

.ml-10 {
  margin-left: 10px !important;
}

.height-nodata {
  height: 73dvh;
}

.btn.disabled-btn {
  pointer-events: none;
  color: rgba(12, 12, 12, 0.431372549) !important;
  background-color: #b9b9b9 !important;
  border: 1px solid #b9b9b9 !important;
}

.follow-class,
.approved-class,
.unclasssified-class,
.outgroup-class {
  background: #dc3545;
  color: #fff !important;
  font-size: 12px;
  border-radius: 100px;
  display: block;
  padding: 2px 16px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.data-table {
  word-break: break-word;
}

.approved-class {
  background: #0d6efd;
}

.unclasssified-class {
  background: #ffc107;
}

.outgroup-class {
  background: #6c757d;
}

.data-tag {
  display: inline-block;
  background: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  word-break: break-all;
  padding: 3px;
  line-height: 1.2;
  font-size: 12px;
  margin-left: 4px;
}

.loadmore {
  &-box {
    text-align: center;
  }

  &__txt {
    cursor: pointer;
    background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-flex;
    justify-content: center;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    padding: 5px 0 0 !important;

    &::after {
      content: "";
      background: #54b3d6;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background-position: 0;

      &::after {
        width: 100%;
      }
    }
  }
}

.button-custom {
  background: #3b5999 !important;
  border-color: #3b5999 !important;
}

.data-table {
  color: #000;
}

.change-moldal-status {

  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 16px;
    text-align: start;
  }

  .modal-header {
    border-bottom: 1px solid #dee2e6;
  }

  .modal-body {
    .diglog-body {
      p {
        margin: 0;
      }

      .el-input__wrapper {
        background: #f6f6fb;
      }
    }
  }

  .modal-footer {
    border-top: 1px solid #dee2e6;
    text-align: center;
    padding: 12px;
  }
}

.sub-label {
  font-size: 12px;
  color: #787878;
  display: flex;
}

.lead-import {
  .el-row {
    width: 100%;
    .el-col-16.is-guttered {
      padding-left: 0;
    }
  }
}

@media (max-width: 575px) {
  .lead-btn__row {
    button {
      margin-right: 8px !important;
      }
  }
  
  .btn-search-select  {
    -webkit-display: flex;
    width: 100%;
    justify-content: space-between;
  }
}