.planning {
  padding: 0 16px 0;

  .not-show-actual {
    height: 78px !important;
  }

  .not-show-actual-total {
    height: 64px !important;
  }

  .not-show-cost-padding, .not-show-actual-padding {
    padding: 23px 12px !important;
  }

  .not-show-cost {
    height: 64px !important;
  }

  .not-show-cost-total {
    height: 32px !important;
  }

  .not-show-cost-input {
    height: 25px !important;
    line-height: 25px !important;
  }

  .not-show-cost-wrap-input {
    line-height: 30px !important;
  }

  .not-show-cost-and-actual {
    height: 32px !important;
  }

  .not-show-cost-and-actual-padding {
    padding: 15px 12px !important;
  }

  .not-show-cost-and-actual-total-padding {
    padding: 3px 12px !important;
  }

  @media (max-width: 1024px) {
    padding: 15px 20px 30px;
  }

  .el-select {
    height: 31px !important;
    .el-input {
      height: 31px !important;
    }
  }

  &-btn-box {
    @media (max-width: 575px) {
      .el-row {
        justify-content: space-between;
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &-body {
    margin-top: 5px;
    background: #f7f7f7;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 6px;

    }

    &::-webkit-scrollbar-thumb {
        background-color: #A6ABC8 !important;
    }

    &::-webkit-scrollbar:horizontal {
        height: 6px;
    }

    &::-webkit-scrollbar {
        height: 6px;

    }
    @media (max-width: 575px) {
      margin-top: 0;
    }

    .btn {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      margin-left: 8px !important;
      transition: .3s all;
      color: #fff;
  
      @media (max-width:1024px) {
        width: auto;
        height: 27px;
      }
  
      @media (max-width:575px) {
        margin: 0 0 10px !important;
        width: 49%;
      }
  
      &:hover, &:focus {
        transition: .3s all;
        opacity: .8;
      }
  
      &:first-child {
        margin-left: 0 !important;
      }
  
      &-refresh {
        background: #fbf5Ee;
        border: 1px solid #ecd89c;
        color: #b79315;
        &:hover, &:focus {
          background: #fbf5Ee;
          border: 1px solid #ecd89c;
          color: #b79315;
        }
      }
  
      &-cancel {
        background: #E8EAFB;
        border: 1px solid #3B5A9A;
        color: #3B5A9A;
        &:hover, &:focus {
          background: #E8EAFB;
          border: 1px solid #3B5A9A;
          color: #3B5A9A;
        }
      }
  
      &-basline {
        background: #785199;
        border: 1px solid #8e69ae;
        &:hover, &:focus {
          background: #785199;
          border: 1px solid #8e69ae;
        }
      }
  
      &-version {
        background: #5C3582;
        border: 1px solid #764C9E;
        &:hover, &:focus {
          background: #5C3582;
          border: 1px solid #764C9E;
        }
      }
  
      &-save {
        background: #5A6ACF;
        border: 1px solid #3C4EC0;
        &:hover, &:focus {
          background: #5A6ACF;
          border: 1px solid #3C4EC0;
        }
      }
    }

    .planning {
      &-search {
        padding: 16px;
        display: inline-flex;
        align-items: center;
        background: #f7f7f7;
        max-width: 1574px;
        &__ttl {
          margin: 0 0 4px;
          font-size: 16px;
          color:#212529;
          font-weight: 400;
        }

        &-item {
          margin-right: 8px;
          width: 200px;

          &__btn, &:first-child {
            width: 120px !important;
          }
          button {
            width: 100%;
            margin: 0 !important;
            height: 31px !important;
            border: 1px solid !important;
          }

          .el-date-editor {
            .el-input__wrapper {
              height: 31px;
              margin-top: 6px;

              .el-input__inner {
                padding-left: 10px;
              }

              .clear-icon {
                right: 30px;
              }
            }
          } 
        }
      }
    }
  }

  &-table {
    margin-top: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 77vh;
  }

  .el-select {
    cursor: pointer;
    .el-input__suffix {
      .el-input__suffix-inner {
        position: relative;
        &::after {
          top: 12px;
        }
      }
    }
  }
  
  .el-date-editor {
    .el-input__prefix-inner {
      position: relative;
      &::after {
        top: 8px;
      }
    }
  }
}

@media (max-width: 768px) {
  .btn-search-select {
    width: 49%;
  }
}

.table-header {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
}

.table-department-item {
  width: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f0f0f0;
  border: 1px solid #b9b9b9;
  border-top: none;
  border-left: none;
  align-items: center;
  
  p {
    transform: rotateZ(90deg);
  }
}

.table {
  &-header p {
    margin: 0;
    width: 145px;
    flex: 0 0 auto;
    padding: 6px 12px;
    font-size: 14px;
    color: #000;
    background: #f0f0f0;
    border-bottom: 1px solid #b9b9b9;
    position: sticky;
    top: 0;
    &:nth-child(1) {
      width: 95px;
    }

    &:nth-child(2) {
      width: 63px;
    }

    &:nth-child(3) {
      width: 120px;
    }

    &:nth-child(4) {
      width: 87px;
    }

    &:nth-child(5) {
      width: 60px;
    }

    &:nth-child(6) {
      width: 60px;
    }
  }

  &-dapartment {
    &-top {
      width: 100%;
      display: flex;
    }
  }

  &-left-total {
    display: flex;
    background: #f4e8c4;
  }

  &-department-total {
    background: #f0e8f2;
    height: 128px;
    padding: 54px 12px;
    border: 1px solid #b9b9b9;
    border-top: none;
    border-left: none;
  }

  &-total {
    background: #f4e8c4;
    padding: 48px 12px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #b9b9b9;
    border-top: none;
    border-left: none;
    width: 365px;
    flex: 0 0 auto;
  }

  &-type {
    flex: 0 0 auto;
    width: calc(100% - 365px);
    height: 128px;
    background: #f4e8c4;
  }

  &-plan, &-act {
    height: 64px;
    border-bottom: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-plan {
    &--height {
      height: 78px;
    }
  }

  &-left {
    width: 425px;
    flex: 0 0 auto;
  }

  &-right {
    width: 100%;
    @media (min-width: 1024px) {
      overflow-x: auto;
      overflow-y: hidden;
    }
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: #f5f5f5;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #fff;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #c1c1c1;
    }

    &-header {
      display: flex;
      align-items: center;
      white-space: nowrap;
      width: 100%;

      p {
        width: 140px;
        flex: 0 0 auto;
        padding: 6px 12px;
        font-size: 14px;
        color: #000;
        background: #f0f0f0;
        border-bottom: 1px solid #b9b9b9;
        text-align: end;
        &:nth-child(1) {
          width: 60px;
          text-align: start;
        }
      }
    }

    .market-data {
      &-mm, &-cash {
        font-size: 14px;

        display: flex;
        align-items: start;
      }
    }

    .market_ttl {
      width: 60px;
      flex: 0 0 auto;
      padding: 0 12px;
      border-bottom: 1px solid #b9b9b9;
      height: 32px;
      line-height: 32px;
      font-size: 14px;
      }

    .data {
      display: flex;
      flex: 0 0 auto;

      p {
        width: 140px;
        text-align: end;
        padding: 0 12px;
        font-size: 13px;
        color: #3B5A9A;
        font-weight: 700;
        height: 32px;
        line-height: 32px;
        border-bottom: 1px solid #b9b9b9;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      input {
        width: 85%;
      }

      .wrap-input-planning p {
        border: none;
      }
    }
  }

  &-body {
    display: flex;
    @media (max-width: 767px) {
      overflow: auto;
      &.overflow-hidden {
        overflow: hidden;
      }
    }
  }

  &-department {
    &-manager {
      background: #e9eef4;
      border-bottom: 1px solid #b9b9b9;
      border-right: 1px solid #b9b9b9;
      width: 63px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        transform: rotateZ(90deg);
      }
    }
    

    &-slug {
      display: flex;
    }

    &-customer {
      width: calc(100% - 63px);
      flex: 0 0 auto;
      .customer {
        &-total {
          background: #deecfe;
          padding: 54px 12px;
          font-weight: bold;
          border-bottom: 1px solid #b9b9b9;
          border-right: 1px solid #b9b9b9;
          height: 128px;
        }

        &-bu {
          display: flex;
          width: 60px;
        }

        &-row {
          width: 120px;
          flex: 0 0 auto;
          background: #fffaee;
          border-bottom: 1px solid #b9b9b9;
          border-right: 1px solid #b9b9b9;
          height: 142px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 12px;
          word-break: break-word;

          &-tow {
            display: flex;
            .title {
              width: 87px;
              flex: 0 0 auto;
              display: flex;
              justify-content: center;
              flex-direction: column;
              border-bottom: 1px solid #b9b9b9;
              border-right: 1px solid #b9b9b9;
              background: #fffaee;
              padding-left: 12px;
            }

            height: 142px;
            .table-types {
              width: calc(100% - 69px);
              flex: 0 0 auto;
            }
          }
        }
      }
    }
  }
}

.bg-pink {
  background: #f0e8f2;
}

.bg-blue {
  background: #deecfe;
}

.bg-yellow--bold {
  background: #f4e8c4;
}

.bg-yellow {
  background: #fffaee;
}

.data-custom {
  height: 39px !important;
  line-height: 39px;
  &--border {
    border-bottom: 1px solid #b9b9b9;
  }
}

.input-custom {
  border-radius: 4px;
  background: #f6f6fb;
  border: 1px solid #ced4da;
  height: 31px !important;
  width: 135px;
  outline: none;

  &:focus {
    outline: 1px solid rgb(14, 187, 14);
  }
}

.form-width {
  width: 140px;
}


.btn-search {
  background: #d4d9fb;
  color: #5A6ACF !important;
  border: 1px solid #b4bdf5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  cursor: pointer;
  // &--mobie {
  //   @media (min-width: 1025px) {
  //     display: none !important;
  //   }
  // }

  &:hover , &:focus, &:active {
    background: #D4D9FB;
    color: #5A6ACF ;
    border: 1px solid #b4bdf5;
    opacity: .8;
  }
}

.table-department-items {
  display: flex;
}

.table-department-total {
  width: 270px;
  flex: 0 0 auto;
}

.table-types {
  width: 60px;
  flex: 0 0 auto;
}

.customer {
  &-flex {
    display: flex;

    .table-types {
      width: 60px;
      flex: 0 0 auto;
    }
  }

  &-total {
    width: 207px;
    flex: 0 0 auto;
  }
}

.flex {
  width: calc(100% - 120px);
}

.loadmore {
  &__txt {
    color: #707FDD;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 19px 0 21px;
  }
}